{% extends "layout.html" %} {% block content %}
<br />
<div class="row">
  <div class="col-md-10">
    <h1>API Sample Code</h1>
  </div>
</div>
<script src=" https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js "></script>

<hr />
<div>
  <b>Python</b>

  <pre class="prettyprint lang-py">

      import requests, json

      url = 'https://sa-plag.herokuapp.com/api'
      payload = ["int main()", "int a;"]

      print(requests.post(url, json=payload).json())
  </pre>

  <b>sh</b>
  <pre class="prettyprint lang-sh">

    curl -X POST -H "Content-Type: application/json" -d '["int main()", "int a;"]' https://sa-plag.herokuapp.com/api   
  </pre>
</div>

{% endblock %}
