<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/api.css"/>
    <link rel="stylesheet" href="static/css/layout.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <meta charset="UTF-8" />
    <title>Plagiarism Detection App</title>
  </head>
  <body style="padding-top: 44px">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"> SA-Plag API</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#base-navbars"
          aria-controls="base-navbars"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="base-navbars">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/api">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api_usage">Sample</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
              <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
                <a href="https://github.com/xryuseix/SA-Plag" target="_blank" rel="noopener noreferrer" tabindex="0" role="menuitem" class="dropdown-item">GitHub</a>
                <a href="https://twitter.com/ryusei_ishika" target="_blank" rel="noopener noreferrer" tabindex="0" role="menuitem" class="dropdown-item">Contact</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/secret" style="color:#252A30">Secret</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="min-height: 80vh">
      <div class="container">
        {% block content %}
        <!-- メインコンテンツ -->
        {% endblock %}
      </div>
    </div>
    <br />
    <hr />
    <footer>
      <div align="center">
        <p>&copy; 2020 Ryusei Ishikawa All Right Reserved.</p>
        <a href="https://twitter.com/ryusei_ishika?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ryusei_ishika</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>