{% extends "layout.html" %} {% block content %}
<br />
<div class="row">
  <div class="col-md-10">
    <h1>† Welcome to Secret Page †</h1>
  </div>
</div>
<script src=" https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js "></script>
<h3>
  よくぞここまで辿り着いた．褒美に新しく作成中のAPIの使用許可を与えよう！<br />
  ただし，ペイロードの文字数が多いとき？か何かで503エラーが出るぞ(未検証)
</h3>
<hr />
<div>
  <b>Python</b>

  <pre class="prettyprint lang-py">

      import requests, json

      url = 'https://sa-plag.herokuapp.com/api/pair'
      payload = [["int main()", "int a;"], ["int main()", "int b;"], ["int main()", "int c;"]]

      print(requests.post(url, json=payload).json())
  </pre>
</div>
<h1 style="color:white">xryuseix CTF is going on now !!</h1>

<!--
ソース見てる暇あったら進捗出せよ，こんなことしてる間にもアフリカでは1分間に60秒が経過しているんだぜ？
eHJ5dXNlaXhDVEZ7bmFubmthX2N0Zl9tb25uZGFpX3dvX3RzdWt1cm91dG9fb21vdHRhbm5kYWtlZG9fbWVubmRvdW5pX25hdHRhX25vZGVfa29yZWRleXVydXNpdGVfd3d9
-->
{% endblock %}
