.button_wrapper {
  text-align: center;
  position: relative;
}
.button_wrapper img {
  width: 90px;
  height: 90px;
}
.button_wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
}

.whats_sa_plag {
  padding: 1em 1.5em;
  margin: 2em 0;
  background-color:#f4f9ff;/*背景色*/
  border:1px solid rgba(0, 0, 0, 0.5);/*枠線*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
  color:#000000;/*文字色*/
}
.whats_sa_plag p {
  margin: 0; 
  padding: 0;
}

table,textarea{ font-size:10pt;}
  	textarea { width:100% }
  	table {
  		width:95%;
  		margin:20px;
  		table-layout:fixed;
  		word-wrap:break-word;
  		border-collapse:collapse;
  	}
  	td {
  		padding:4px 15px;
  		border-left:solid 1px silver;
  		border-right:solid 1px silver;
  	}
  	table#passwd {
  		width:auto;
  		border:dotted 1px #8c93ba;
  	}
  	.n { border:none }